<h1> Login in to Enrollment Tracker! </h1>
<%=form_tag (sessions_path) do %>
    <%= text_field_tag :email, '', {placeholder: 'Enter email'}%>
    <%= password_field_tag :password, '', {placeholder: 'Enter password'} %>
    <%= submit_tag 'Login' %>
<% end %><br>

<p>Or</p>

<h3><%= link_to('Log in with Github!', '/auth/github') %></h3>
